body{
    background-image: url("img/memphis-mini.png");
    font: 24px/32, arial,helvetica,sans-serif;
    color: #777777;
    margin: 0;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 960px;
}
/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin:0;
    padding: 0;
}
/* header */
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;
    color: #ffffff; 
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ccc 3px solid;
}
header h1{
    background-color:#4aaaa5;
}
header a{
    color: rgba(113, 109, 109, 0.8);
    text-decoration: none;
    text-transform:uppercase;
}

header li{
    float: left;
    padding: 0 20px 0 20px;
    font-family: arial, 'helvetica neue', helvetica, 'sans-serif';
    border-right: #dddd solid 1px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin:0;
    padding: 15px;
    margin-left: 10px;
}
header nav{
    float: right;
    padding-top: 12px;
    padding-right: 10px;
}
/* all body mods */
main{
    background-color: #ffffff;
    border: #ffff 3px solid;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
main h1{
    color: #4aaaa5;
}
.container{
    background-color: #ffff;
    border: #dddddd 1px solid;
    margin: 60px 60px 100px 60px;
    padding:25px;

}
.container h1{
    border-bottom: #dddd solid 2px;
    padding: 3px;
    color:#4aaaa5;
    font-size: 32px;
    margin-top: 10px;
}
.container p{
    padding: 5px;
}
/* about me page specifics */
.container-images{
    float: left;
    margin: 5px;
    padding:5px;
}
/* contact page specifics */

.container input{
    width: 100%;
}
#message{
    padding-bottom:60px;
}
#button{
    background-color: #4aaaa5;
    color:#ffff;
    padding: 5px;
    width: 15%;
        
}
/* portfoloio styling */
img{
    width: 200px;
    height: 150px;
    display: block;
}
.text-box{
    position: absolute;
    width: 200px;
    bottom: 0;
    background-color: #4aaaa5;
    color: #ffff;
    text-align: center;
}
.container-images {
    position: relative;
}


/* footer */
footer{
    background-color: #666666;
    color: #ffff; 
    padding: 5px;
    text-align:center;
    margin: 0px;
    border-top: #4aaaa5 5px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}


